$bg: #F5F5F5;

$white: --el-color-white;

$grey: #707A8A;

$grey-light: #767676;

$grey-dark-1:#2B2B2B;

$grey-dark: #323232;

$black: --el-color-black;

$violet: #9721c2;

$pink: #ea5670;

$green: #03BA7B;

$red-light: #C55353;

$blue: #00a485;

$yellow: rgba(206, 206, 186, 0.075);