@use "./fonts" as fonts;
@use "./functions" as functions;
@use "./colors" as colors;
@use "./medias"as media;


@mixin font-load($ff, $fw, $fs, $fd, $src...) {
    font-family: $ff;
    src: $src;
    font-weight: $fw;
    font-style: $fs;
    font-display: $fd;
}

@mixin font($name, $weight, $size, $color, $height, $style) {
    font-family: $name;
    font-style: $style;
    font-weight: $weight;
    font-size: functions.pxToRem($size);
    color: $color;

    @if $height != 1 {
        line-height: calc($height / $size);
    }
}

@mixin Halvar-Breit($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font(fonts.$Halvar-Breit, $weight, $size, $color, $height, $style);
}

@mixin Golos-Text($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font(fonts.$Golos-Text, $weight, $size, $color, $height, $style);
}

@mixin fillFullColor($color: null) {
    background: $color;
    box-shadow: 0 0 0 100vmax $color;
    clip-path: inset(0 -100vmax);
}

@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');

@font-face {
    font-family: "Irish Grover";
    src: url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap') format('woff2');
}

@mixin Irish-Grover($weight, $size, $color: null, $height: 1, $style: normal) {
    @include font("Irish Grover", $weight, $size, $color, $height, $style);
}
